body {
  color: #33363f;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 120%;
}
.header {
  color: #ffffff;
  background-color: #1b351c;
  background-image: url(https://images.unsplash.com/photo-1505807557511-bc38492556a6?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=9ae6e0508d7cffec48a01288fa361ce7&auto=format&fit=crop&w=1350&q=80) top center no-repeat;
  width: 100%;
  height: 300px;
  overflow: hidden;
}
